body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#c2 {
  border: 1px solid black;
}

#show-fps {
  margin-left: 5px;
  font-weight: bold;
}